{% block title %}Laundry Room - Update User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style1.css')}}">
<style>
    .btn-reset {
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}

.btn-reset:hover {
  background-color: #0056b3;
}
</style>

<div class="container2">
    <div class="center-box2">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <h1 class="display-4">Update Password</h1>
        <form method="POST" action="">
            <div class="form-row" style="width:500px;">
                <div class="form-group">
                    {{ render_field(form.password, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.confirm, class="form-control") }}
                </div>
            </div>
            <br>
            <div class="button-container">
                <button type="submit" class="btn-reset">Update Password</button>
            </div> <!-- form-group// -->
        </form>
        <p class="text-center mt-4" style="text-align:center;">Remember Password? <a href="{{ url_for('logout_page') }}"> Login </a></p>
    </div>
</div>

{% endblock %}
